<footer>
    <div class="background">
        <div id="copy-rights">
            Copy rights belongs to Social Network
        </div>
        <ul>
            <li>
                Home
            </li>
            <li>
                Profile
            </li>
        </ul>
    </div>
</footer>