<footer>
    <div class="background">
        <div id="copy-rights">
            Copy rights belongs to Social Network
        </div>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <%if(locals.user){%>
                <li>
                    <a href="/users/profile/<%= user.id %>">Profile</a>
                </li>
            <%}%>
            
        </ul>
    </div>
</footer>