<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body>
    </body>
        <h1>
            <%=title %> Page of "The Social Network"
        </h1>
    </body>
</html>