<link rel="stylesheet" href="/css/home.css">
<p></p>
<h1>
    This is your Social Network
    <form action="">
        <textarea name="" id="" cols="30" rows="10"></textarea>
        <button>post</button>
    </form>
</h1>
