<link rel="stylesheet" href="/css/user_profile.css">
<p>

</p>
<h1>
    Your user profile page of "The Social Network"
</h1>
<div>
    <div>
        Hey your Name is <%= user.name %>
    </div>
    <div>
        Hey your Email is <%= user.email %>
    </div>
    <div>
        <a href="/users/logout">
            <button>logout</button>
        </a>
        
    </div>
    
</div>