#header-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(23, 123, 238);
    height: 75px;
    width: 100%;
    font-family: sans-serif;
    font-size: 25px;
    p{
        
        margin-left: 10px;
        a{
            text-decoration: none;
            color: white;
        }
    }
    ul{
        list-style: none;
        li{
            display: inline-block;
            margin-left: 20px;
            margin-right: 20px;
        }
        a{
            text-decoration: none;
            color: white;
        }
    }
}